@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


/* // for arrows
.swiper-button-prev,
.swiper-button-next {
color: cyan;
}

// and for bullets
.swiper-pagination-bullet {
background-color: black;
} */

.swiper-button-prev:after, .swiper-rtl,.swiper-button-next:after, .swiper-rtl{
    color: white;
}

.swiper-pagination-bullet {
    background: white;
}